.about-us-responsive {
  background-color: #fff8ef;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.about-us-responsive .div {
  background-color: #fff8ef;
  width: 1440px;
  height: 3572px;
  position: relative;
}

.about-us-responsive .div-nido-story {
  position: absolute;
  width: 1440px;
  height: 982px;
  top: 0;
  left: 0;
  background-color: var(--primitives-color-brand-secondary-soft-beige);
}

.about-us-responsive .overlap-group {
  width: 1135px;
  height: 773px;
  top: 145px;
  left: 153px;
  background-image: url(./img/openbook-3x-1.png);
  position: relative;
  background-size: 100% 100%;
}

.about-us-responsive .div-content {
  display: flex;
  width: 856px;
  height: 324px;
  align-items: flex-start;
  gap: 134px;
  position: relative;
  top: 225px;
  left: 139px;
}

.about-us-responsive .text-wrapper {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: "Playpen Sans", Helvetica;
  font-weight: 700;
  color: var(--tokens-text-text-brand);
  font-size: 50.5px;
  text-align: center;
  letter-spacing: -0.51px;
  line-height: 56px;
}

.about-us-responsive .flexcontainer {
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: auto;
  height: 320px;
  width: 320px;
}

.about-us-responsive .text {
  position: relative;
  align-self: stretch;
  margin-bottom: -6px;
  font-family: "Nunito", Helvetica;
  font-weight: 700;
  color: var(--tokens-text-text-secondary);
  font-size: 16px;
  letter-spacing: -0.16px;
  line-height: 22px;
}

.about-us-responsive .span {
  font-family: "Nunito", Helvetica;
  font-weight: 700;
  color: #33312b;
  font-size: 16px;
  letter-spacing: -0.16px;
  line-height: 22px;
}

.about-us-responsive .span-wrapper {
  position: relative;
  align-self: stretch;
  font-family: "Nunito", Helvetica;
  font-weight: 700;
  color: var(--tokens-text-text-secondary);
  font-size: 16px;
  letter-spacing: -0.16px;
  line-height: 22px;
}

.about-us-responsive .div-vision-mission {
  position: absolute;
  width: 1440px;
  height: 670px;
  top: 982px;
  left: 0;
  background-color: var(--primitives-color-brand-secondary-beige);
}

.about-us-responsive .frame {
  display: flex;
  width: 976px;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: relative;
  top: 80px;
  left: 232px;
}

.about-us-responsive .frame-2 {
  display: flex;
  flex-direction: column;
  min-width: 360px;
  max-width: 480px;
  height: 511px;
  align-items: center;
  justify-content: center;
  gap: var(--primitives-spacing-4);
  padding: var(--primitives-spacing-5) var(--primitives-spacing-7) var(--primitives-spacing-5)
    var(--primitives-spacing-7);
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: var(--tokens-surface-surface-white);
  border-radius: var(--primitives-spacing-4);
  border: 1px solid;
  border-color: var(--tokens-border-border-primary);
}

.about-us-responsive .text-wrapper-2 {
  position: relative;
  align-self: stretch;
  font-family: "Nunito", Helvetica;
  font-weight: 700;
  color: var(--tokens-text-text-brand);
  font-size: 37.9px;
  text-align: center;
  letter-spacing: -0.38px;
  line-height: 46px;
}

.about-us-responsive .p {
  position: relative;
  align-self: stretch;
  height: 115px;
  font-family: "Nunito", Helvetica;
  font-weight: 700;
  color: var(--tokens-text-text-secondary);
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.16px;
  line-height: 22px;
}

.about-us-responsive .text-2 {
  font-weight: 700;
  color: var(--tokens-text-text-secondary);
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.16px;
  line-height: 22px;
  position: relative;
  align-self: stretch;
  font-family: "Nunito", Helvetica;
}

.about-us-responsive .div-footer {
  position: absolute;
  width: 1440px;
  height: 285px;
  top: 3287px;
  left: 0;
  background-color: var(--primitives-color-brand-primary-teal);
}

.about-us-responsive .frame-3 {
  display: flex;
  width: 1247px;
  align-items: flex-start;
  gap: 151px;
  position: absolute;
  top: 56px;
  left: 96px;
}

.about-us-responsive .div-logo-address {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 142px;
}

.about-us-responsive .logo {
  position: absolute;
  width: 152px;
  height: 71px;
  top: 0;
  left: 0;
}

.about-us-responsive .text-wrapper-3 {
  position: absolute;
  width: 349px;
  top: -1px;
  left: 199px;
  font-family: var(--body-regular-font-family);
  font-weight: var(--body-bold-font-weight);
  color: #8db1ae;
  font-size: 15px;
  letter-spacing: var(--body-bold-letter-spacing);
  line-height: var(--body-bold-line-height);
  font-style: var(--body-bold-font-style);
}

.about-us-responsive .contact {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 41px 41px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.about-us-responsive .frame-4 {
  position: relative;
  width: 165px;
  height: 24px;
}

.about-us-responsive .img {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
}

.about-us-responsive .text-wrapper-4 {
  position: absolute;
  top: 0;
  left: 36px;
  font-family: var(--body-bold-font-family);
  font-weight: var(--body-bold-font-weight);
  color: #8db1ae;
  font-size: var(--body-bold-font-size);
  text-align: right;
  letter-spacing: var(--body-bold-letter-spacing);
  line-height: var(--body-bold-line-height);
  white-space: nowrap;
  font-style: var(--body-bold-font-style);
}

.about-us-responsive .frame-5 {
  position: relative;
  width: 139px;
  height: 24px;
}

.about-us-responsive .div-lisence {
  display: flex;
  width: 1248px;
  height: 66px;
  align-items: flex-start;
  justify-content: space-between;
  padding: 16px 0px 0px;
  position: absolute;
  top: 219px;
  left: 96px;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #598d88;
}

.about-us-responsive .copyright {
  display: flex;
  width: 204px;
  align-items: flex-start;
  justify-content: space-around;
  gap: 8px;
  padding: 0px 0px 0px 16px;
  position: relative;
}

.about-us-responsive .copyright-by {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-left: -8px;
  margin-right: -8px;
  font-family: "Nunito", Helvetica;
  font-weight: 400;
  color: #598d88;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.about-us-responsive .social-media {
  display: inline-flex;
  align-items: flex-start;
  gap: 24px;
  padding: 0px 16px 0px 0px;
  position: relative;
  flex: 0 0 auto;
}

.about-us-responsive .facebook-logo {
  position: relative;
  width: 24px;
  height: 24px;
}

.about-us-responsive .div-corevalues {
  display: flex;
  flex-direction: column;
  width: 1440px;
  align-items: center;
  padding: var(--primitives-spacing-4) 189px var(--primitives-spacing-8) 189px;
  position: absolute;
  top: 1652px;
  left: 0;
  background-color: var(--tokens-surface-surface-white);
}

.about-us-responsive .text-wrapper-5 {
  position: relative;
  align-self: stretch;
  height: 112px;
  margin-top: -1px;
  font-family: "Nunito", Helvetica;
  font-weight: 700;
  color: var(--tokens-text-text-primary);
  font-size: 37.9px;
  text-align: center;
  letter-spacing: -0.38px;
  line-height: 46px;
}

.about-us-responsive .frame-6 {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  padding: var(--primitives-spacing-6) 0px var(--primitives-spacing-6) 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.about-us-responsive .boat {
  position: relative;
  width: 180px;
  height: 148.11px;
}

.about-us-responsive .frame-7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.about-us-responsive .text-wrapper-6 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Nunito", Helvetica;
  font-weight: 700;
  color: var(--tokens-text-text-secondary);
  font-size: 21.3px;
  letter-spacing: -0.21px;
  line-height: 28px;
}

.about-us-responsive .flexcontainer-2 {
  gap: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-us-responsive .text-3 {
  font-weight: 400;
  color: var(--tokens-text-text-tertiary);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
  position: relative;
  align-self: stretch;
  font-family: "Nunito", Helvetica;
}

.about-us-responsive .text-wrapper-7 {
  font-weight: 700;
}

.about-us-responsive .text-wrapper-8 {
  font-weight: 700;
  font-style: italic;
}

.about-us-responsive .group-wrapper {
  position: absolute;
  width: 1440px;
  height: 647px;
  top: 2640px;
  left: 0;
  background-color: var(--tokens-surface-surface-primary);
}

.about-us-responsive .group {
  position: relative;
  width: 1138px;
  height: 352px;
  top: 105px;
  left: 151px;
}

.about-us-responsive .frame-8 {
  display: flex;
  width: 1138px;
  align-items: flex-start;
  gap: 44px;
  position: relative;
}

.about-us-responsive .img-2 {
  position: relative;
  width: 69px;
  height: 54px;
}

.about-us-responsive .frame-9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.about-us-responsive .group-2 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 172px;
  margin-right: -4px;
}

.about-us-responsive .thay-m-t-i-ng-tr-ng {
  position: absolute;
  width: 671px;
  top: 0;
  left: 0;
  font-family: "Nunito", Helvetica;
  font-weight: 700;
  color: var(--tokens-text-text-tertiary);
  font-size: 16px;
  letter-spacing: -0.16px;
  line-height: 28px;
}

.about-us-responsive .text-wrapper-9 {
  position: absolute;
  width: 671px;
  top: 32px;
  left: 0;
  font-family: "Nunito", Helvetica;
  font-weight: 700;
  color: var(--tokens-text-text-secondary);
  font-size: 21.3px;
  letter-spacing: -0.21px;
  line-height: 28px;
}

.about-us-responsive .group-3 {
  position: relative;
  width: 468px;
  height: 140px;
}

.about-us-responsive .text-wrapper-10 {
  position: absolute;
  width: 376px;
  top: 0;
  left: 0;
  font-family: "Nunito", Helvetica;
  font-weight: 700;
  color: var(--primitives-color-brand-primary-green);
  font-size: 16px;
  letter-spacing: -0.16px;
  line-height: 22px;
}

.about-us-responsive .group-4 {
  position: absolute;
  width: 470px;
  height: 114px;
  top: 26px;
  left: 0;
}

.about-us-responsive .text-wrapper-11 {
  position: absolute;
  width: 179px;
  top: 0;
  left: 0;
  font-family: "Nunito", Helvetica;
  font-weight: 700;
  color: var(--tokens-text-text-tertiary);
  font-size: 16px;
  letter-spacing: -0.16px;
  line-height: 22px;
}

.about-us-responsive .flexcontainer-3 {
  gap: 4px;
  position: absolute;
  width: 466px;
  height: 84px;
  top: 30px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-us-responsive .text-4 {
  font-weight: 700;
  color: var(--tokens-text-text-tertiary);
  font-size: 14px;
  letter-spacing: -0.14px;
  line-height: 20px;
  position: relative;
  align-self: stretch;
  font-family: "Nunito", Helvetica;
}

.about-us-responsive .text-wrapper-12 {
  font-style: italic;
}

.about-us-responsive .div-avatar {
  position: relative;
  width: 310px;
  height: 310px;
  background-image: url(./img/div-avatar.png);
  background-size: cover;
  background-position: 50% 50%;
}

.about-us-responsive .overlap-wrapper {
  position: fixed;
  width: 1440px;
  height: 116px;
  top: 0;
  /* left: 0; */
}

.about-us-responsive .overlap {
  width: 1374px;
  height: 89px;
  top: 27px;
  left: 33px;
  background-image: url(./img/union-shape-1.svg);
  position: relative;
  background-size: 100% 100%;
}

.about-us-responsive .content {
  display: flex;
  width: 1181px;
  height: 72px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 2px;
  left: 98px;
}

.about-us-responsive .div-2 {
  display: flex;
  width: 370px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.about-us-responsive .ghost-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: var(--primitives-spacing-3) var(--primitives-spacing-5) var(--primitives-spacing-3)
    var(--primitives-spacing-5);
  position: relative;
  flex: 0 0 auto;
  border-radius: var(--primitives-spacing-3);
}

.about-us-responsive .th-ng-tin {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Nunito", Helvetica;
  font-weight: 700;
  color: var(--tokens-text-text-brand);
  font-size: 18px;
  text-align: center;
  letter-spacing: -0.18px;
  line-height: 20px;
  white-space: nowrap;
}

.about-us-responsive .th-ng-tin-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Nunito", Helvetica;
  font-weight: 700;
  color: var(--tokens-text-text-primary);
  font-size: 18px;
  text-align: center;
  letter-spacing: -0.18px;
  line-height: 20px;
  white-space: nowrap;
}

.about-us-responsive .caret-up {
  position: relative;
  width: 20px;
  height: 20px;
}

.about-us-responsive .logo-2 {
  position: relative;
  width: 117px;
  height: 53px;
  object-fit: cover;
}

.about-us-responsive .frame-10 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  position: fixed;
  top: 806px;
  left: 1349px;
}

.about-us-responsive .img-wrapper {
  position: relative;
  width: 54px;
  height: 54px;
  background-color: var(--white);
  border-radius: 27px;
  overflow: hidden;
  box-shadow: 0px 8px 16px -2px #1b242c1f, 0px 2px 2px -1px #1b232c0a;
}

.about-us-responsive .img-3 {
  position: absolute;
  width: 44px;
  height: 44px;
  top: 5px;
  left: 5px;
}
