.programs-bocau {
  background-color: #fff8ef;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.programs-bocau .div {
  background-color: var(--tokens-surface-surface-primary);
  width: 1440px;
  height: 4733px;
  position: relative;
}

.programs-bocau .frame {
  position: absolute;
  width: 1440px;
  height: 888px;
  top: 0;
  left: 0;
  overflow: hidden;
}

.programs-bocau .overlap-group {
  position: relative;
  height: 888px;
}

.programs-bocau .rectangle {
  position: absolute;
  width: 1440px;
  height: 674px;
  top: 0;
  left: 0;
  background-color: var(--primitives-color-brand-secondary-soft-beige);
}

.programs-bocau .frame-2 {
  position: absolute;
  width: 1137px;
  height: 154px;
  top: 188px;
  left: 152px;
}

.programs-bocau .text-wrapper {
  position: absolute;
  width: 861px;
  top: -1px;
  left: 138px;
  font-family: var(--header-h1-font-family);
  font-weight: var(--header-h1-font-weight);
  color: var(--primitives-color-brand-secondary-brown);
  font-size: var(--header-h1-font-size);
  text-align: center;
  letter-spacing: var(--header-h1-letter-spacing);
  line-height: var(--header-h1-line-height);
  font-style: var(--header-h1-font-style);
}

.programs-bocau .p {
  position: absolute;
  width: 600px;
  top: 96px;
  left: 268px;
  font-family: var(--sub-header-font-family);
  font-weight: var(--sub-header-font-weight);
  color: var(--tokens-text-text-primary);
  font-size: var(--sub-header-font-size);
  text-align: center;
  letter-spacing: var(--sub-header-letter-spacing);
  line-height: var(--sub-header-line-height);
  font-style: var(--sub-header-font-style);
}

.programs-bocau .frame-3 {
  position: absolute;
  width: 1209px;
  height: 443px;
  top: 445px;
  left: 116px;
}

.programs-bocau .div-program-card {
  position: absolute;
  width: 340px;
  height: 400px;
  top: 0;
  left: 434px;
  border-radius: 16px;
  border: 1px solid;
  border-color: var(--tokens-border-border-primary);
  background-image: url(./img/div-program-card.svg);
  background-size: cover;
  background-position: 50% 50%;
  background-color: var(--tokens-surface-surface-white);
}

.programs-bocau .text-wrapper-2 {
  position: absolute;
  width: 340px;
  top: 340px;
  left: 0;
  font-family: var(--sub-header-font-family);
  font-weight: var(--sub-header-font-weight);
  color: var(--tokens-text-text-primary);
  font-size: var(--sub-header-font-size);
  text-align: center;
  letter-spacing: var(--sub-header-letter-spacing);
  line-height: var(--sub-header-line-height);
  font-style: var(--sub-header-font-style);
}

.programs-bocau .div-program-card-2 {
  left: 842px;
  border-color: var(--tokens-text-text-primary);
  transform: rotate(8deg);
  background: linear-gradient(180deg, rgb(155, 186, 60) 0%, rgb(228.44, 221.36, 51.4) 100%);
  position: absolute;
  width: 340px;
  height: 400px;
  top: 22px;
  border-radius: 16px;
  border: 1px solid;
}

.programs-bocau .content {
  flex-direction: column;
  width: 336px;
  height: 397px;
  align-items: flex-start;
  gap: var(--primitives-spacing-5);
  padding: 46px 33px;
  left: 2px;
  display: flex;
  position: relative;
}

.programs-bocau .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--header-h3-font-family);
  font-weight: var(--header-h3-font-weight);
  color: var(--tokens-text-text-primary);
  font-size: var(--header-h3-font-size);
  letter-spacing: var(--header-h3-letter-spacing);
  line-height: var(--header-h3-line-height);
  white-space: nowrap;
  font-style: var(--header-h3-font-style);
}

.programs-bocau .text-wrapper-4 {
  position: relative;
  align-self: stretch;
  font-family: "Nunito", Helvetica;
  font-weight: 500;
  color: var(--tokens-text-text-secondary);
  font-size: 14px;
  letter-spacing: -0.42px;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
}

.programs-bocau .flexcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.programs-bocau .div-2 {
  position: relative;
  align-self: stretch;
  font-family: var(--body-bold-font-family);
  font-weight: var(--body-bold-font-weight);
  color: var(--tokens-text-text-secondary);
  font-size: var(--body-bold-font-size);
  letter-spacing: var(--body-bold-letter-spacing);
  line-height: var(--body-bold-line-height);
  font-style: var(--body-bold-font-style);
}

.programs-bocau .span {
  font-family: var(--body-bold-font-family);
  font-weight: var(--body-bold-font-weight);
  color: #33312b;
  font-size: var(--body-bold-font-size);
  letter-spacing: var(--body-bold-letter-spacing);
  line-height: var(--body-bold-line-height);
  font-style: var(--body-bold-font-style);
}

.programs-bocau .div-program-card-3 {
  left: 26px;
  border-color: var(--tokens-border-border-primary);
  transform: rotate(-8deg);
  background-image: url(./img/div-program-card-1.svg);
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  width: 340px;
  height: 400px;
  top: 22px;
  border-radius: 16px;
  border: 1px solid;
  background-color: var(--tokens-surface-surface-white);
}

.programs-bocau .div-footer {
  position: absolute;
  width: 1440px;
  height: 285px;
  top: 4448px;
  left: 0;
  background-color: var(--primitives-color-brand-primary-teal);
}

.programs-bocau .frame-4 {
  display: flex;
  width: 1247px;
  align-items: flex-start;
  gap: 151px;
  position: absolute;
  top: 56px;
  left: 96px;
}

.programs-bocau .div-logo-address {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 142px;
}

.programs-bocau .logo {
  position: absolute;
  width: 152px;
  height: 71px;
  top: 0;
  left: 0;
}

.programs-bocau .text-wrapper-5 {
  position: absolute;
  width: 349px;
  top: -1px;
  left: 199px;
  font-family: var(--body-bold-font-family);
  font-weight: var(--body-bold-font-weight);
  color: #8db1ae;
  font-size: var(--body-bold-font-size);
  letter-spacing: var(--body-bold-letter-spacing);
  line-height: var(--body-bold-line-height);
  font-style: var(--body-bold-font-style);
}

.programs-bocau .contact {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 41px 41px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.programs-bocau .frame-5 {
  position: relative;
  width: 165px;
  height: 24px;
}

.programs-bocau .img {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
}

.programs-bocau .text-wrapper-6 {
  position: absolute;
  top: 0;
  left: 36px;
  font-family: var(--body-bold-font-family);
  font-weight: var(--body-bold-font-weight);
  color: #8db1ae;
  font-size: var(--body-bold-font-size);
  text-align: right;
  letter-spacing: var(--body-bold-letter-spacing);
  line-height: var(--body-bold-line-height);
  white-space: nowrap;
  font-style: var(--body-bold-font-style);
}

.programs-bocau .frame-6 {
  position: relative;
  width: 139px;
  height: 24px;
}

.programs-bocau .div-lisence {
  display: flex;
  width: 1248px;
  height: 66px;
  align-items: flex-start;
  justify-content: space-between;
  padding: 16px 0px 0px;
  position: absolute;
  top: 219px;
  left: 96px;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #598d88;
}

.programs-bocau .copyright {
  display: flex;
  width: 204px;
  align-items: flex-start;
  justify-content: space-around;
  gap: 8px;
  padding: 0px 0px 0px 16px;
  position: relative;
}

.programs-bocau .copyright-by {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-left: -8px;
  margin-right: -8px;
  font-family: "Nunito", Helvetica;
  font-weight: 400;
  color: #598d88;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.programs-bocau .social-media {
  display: inline-flex;
  align-items: flex-start;
  gap: 24px;
  padding: 0px 16px 0px 0px;
  position: relative;
  flex: 0 0 auto;
}

.programs-bocau .facebook-logo {
  position: relative;
  width: 24px;
  height: 24px;
}

.programs-bocau .div-3 {
  position: absolute;
  width: 296px;
  height: 986px;
  top: 956px;
  left: 67px;
}

.programs-bocau .frame-7 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: absolute;
  top: 142px;
  left: 0;
}

.programs-bocau .text-wrapper-7 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--header-h3-font-family);
  font-weight: var(--header-h3-font-weight);
  color: var(--primitives-color-brand-primary-green);
  font-size: var(--header-h3-font-size);
  letter-spacing: var(--header-h3-letter-spacing);
  line-height: var(--header-h3-line-height);
  font-style: var(--header-h3-font-style);
}

.programs-bocau .div-4 {
  display: flex;
  flex-direction: column;
  width: 296px;
  align-items: flex-start;
  gap: var(--primitives-spacing-1);
  padding: var(--primitives-spacing-6) var(--primitives-spacing-5) var(--primitives-spacing-10)
    var(--primitives-spacing-5);
  position: relative;
  flex: 0 0 auto;
  background-color: var(--tokens-surface-surface-white);
  border-radius: 16px;
  border: 1px solid;
  border-color: var(--tokens-border-border-secondary);
}

.programs-bocau .ghost-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: var(--primitives-spacing-3) var(--primitives-spacing-5) var(--primitives-spacing-3)
    var(--primitives-spacing-5);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: var(--primitives-spacing-3);
}

.programs-bocau .th-ng-tin {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Nunito", Helvetica;
  font-weight: 700;
  color: var(--tokens-text-text-primary);
  font-size: 18px;
  text-align: center;
  letter-spacing: -0.18px;
  line-height: 20px;
  white-space: nowrap;
}

.programs-bocau .th-ng-tin-2 {
  flex: 1;
  color: var(--tokens-text-text-primary);
  line-height: 24px;
  position: relative;
  margin-top: -1px;
  font-family: "Nunito", Helvetica;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -0.18px;
}

.programs-bocau .caret-up {
  position: relative;
  width: 20px;
  height: 20px;
}

.programs-bocau .frame-8 {
  position: absolute;
  width: 296px;
  height: 263px;
  top: 723px;
  left: 0;
  background-image: url(./img/frame-394.png);
  background-size: cover;
  background-position: 50% 50%;
}

.programs-bocau .container-wrapper {
  position: absolute;
  width: 995px;
  height: 3124px;
  top: 956px;
  left: 383px;
}

.programs-bocau .container {
  flex-direction: column;
  width: 995px;
  gap: var(--primitives-spacing-10);
  padding: var(--primitives-spacing-10) var(--primitives-spacing-6) var(--primitives-spacing-10)
    var(--primitives-spacing-6);
  top: 207px;
  background-color: var(--tokens-surface-surface-white);
  border-radius: var(--primitives-spacing-4);
  border: 1px solid;
  border-color: var(--tokens-border-border-secondary);
  display: flex;
  align-items: center;
  position: relative;
}

.programs-bocau .div-wrapper {
  justify-content: space-around;
  gap: 24px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  position: relative;
}

.programs-bocau .div-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--primitives-spacing-7);
  padding: 0px var(--primitives-spacing-4) 0px var(--primitives-spacing-8);
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.programs-bocau .text-wrapper-8 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--header-h3-font-family);
  font-weight: var(--header-h3-font-weight);
  color: #000000;
  font-size: var(--header-h3-font-size);
  letter-spacing: var(--header-h3-letter-spacing);
  line-height: var(--header-h3-line-height);
  font-style: var(--header-h3-font-style);
}

.programs-bocau .div-carousel {
  display: flex;
  flex-wrap: wrap;
  width: 632px;
  align-items: flex-start;
  justify-content: center;
  gap: 12px 16px;
  position: relative;
  flex: 0 0 auto;
}

.programs-bocau .rectangle-2 {
  position: relative;
  width: 630px;
  height: 420px;
  object-fit: cover;
}

.programs-bocau .rectangle-3 {
  position: relative;
  width: 117px;
  height: 117px;
  object-fit: cover;
}

.programs-bocau .rectangle-4 {
  position: relative;
  width: 116px;
  height: 117px;
  object-fit: cover;
}

.programs-bocau .rectangle-5 {
  position: relative;
  width: 630px;
  height: 420px;
}

.programs-bocau .text {
  position: relative;
  align-self: stretch;
  font-family: "Nunito", Helvetica;
  font-weight: 700;
  color: var(--tokens-text-text-secondary);
  font-size: 16px;
  letter-spacing: -0.16px;
  line-height: 16px;
}

.programs-bocau .text-wrapper-9 {
  line-height: var(--body-bold-line-height);
  font-family: var(--body-bold-font-family);
  font-style: var(--body-bold-font-style);
  font-weight: var(--body-bold-font-weight);
  letter-spacing: var(--body-bold-letter-spacing);
  font-size: var(--body-bold-font-size);
}

.programs-bocau .text-wrapper-10 {
  font-size: var(--sub-header-font-size);
  letter-spacing: var(--sub-header-letter-spacing);
  line-height: var(--sub-header-line-height);
  font-family: var(--sub-header-font-family);
  font-style: var(--sub-header-font-style);
  font-weight: var(--sub-header-font-weight);
}

.programs-bocau .overlap-wrapper {
  position: fixed;
  width: 1440px;
  height: 116px;
  top: -2px;
  /* left: 0; */
}

.programs-bocau .overlap {
  position: relative;
  width: 1374px;
  height: 89px;
  top: 27px;
  left: 33px;
  background-image: url(./img/union-shape-1.svg);
  background-size: 100% 100%;
}

.programs-bocau .content-2 {
  width: 1181px;
  height: 72px;
  align-items: center;
  justify-content: space-between;
  top: 2px;
  left: 98px;
  display: flex;
  position: relative;
}

.programs-bocau .div-6 {
  display: flex;
  width: 370px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.programs-bocau .ghost-button-2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: var(--primitives-spacing-3) var(--primitives-spacing-5) var(--primitives-spacing-3)
    var(--primitives-spacing-5);
  position: relative;
  flex: 0 0 auto;
  border-radius: var(--primitives-spacing-3);
}

.programs-bocau .th-ng-tin-3 {
  width: fit-content;
  color: var(--tokens-text-text-brand);
  text-align: center;
  line-height: 20px;
  white-space: nowrap;
  position: relative;
  margin-top: -1px;
  font-family: "Nunito", Helvetica;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -0.18px;
}

.programs-bocau .logo-2 {
  position: relative;
  width: 117px;
  height: 53px;
  object-fit: cover;
}

.programs-bocau .frame-9 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  position: fixed;
  top: 806px;
  left: 1351px;
}

.programs-bocau .img-wrapper {
  position: relative;
  width: 54px;
  height: 54px;
  background-color: var(--white);
  border-radius: 27px;
  overflow: hidden;
  box-shadow: 0px 8px 16px -2px #1b242c1f, 0px 2px 2px -1px #1b232c0a;
}

.programs-bocau .img-2 {
  position: absolute;
  width: 44px;
  height: 44px;
  top: 5px;
  left: 5px;
}
