:root {
    --primarymain-green500: rgba(155, 186, 60, 1);
    --primarymain-green400: rgba(211, 225, 115, 1);
    --primaryteal: rgba(7, 85, 78, 1);
    --primarycream: rgba(255, 248, 239, 1);
    --secondarybrown: rgba(132, 71, 11, 1);
    --secondaryorange: rgba(247, 127, 38, 1);
    --secondarybeige: rgba(227, 179, 118, 1);
    --secondarysoft-beige: rgba(239, 225, 202, 1);
    --neutralneutral-1: rgba(255, 255, 255, 1);
    --neutralneutral-2: rgba(253, 253, 253, 1);
    --neutralneutral-3: rgba(245, 245, 245, 1);
    --neutralneutral-4: rgba(240, 240, 240, 1);
    --neutralneutral-5: rgba(219, 219, 219, 1);
    --neutralneutral-6: rgba(194, 194, 194, 1);
    --neutralneutral-7: rgba(146, 146, 146, 1);
    --neutralneutral-8: rgba(97, 97, 97, 1);
    --neutralneutral-9: rgba(78, 78, 78, 1);
    --neutralneutral-10: rgba(48, 48, 48, 1);
    --neutralneutral-11: rgba(41, 41, 41, 1);
    --neutralneutral-12: rgba(31, 31, 31, 1);
    --neutralneutral-13: rgba(12, 12, 12, 1);
    --foundationprimaryprimary-50: rgba(245, 248, 236, 1);
    --foundation-primaryprimary-100: rgba(224, 234, 195, 1);
    --foundation-primaryprimary-200: rgba(209, 223, 165, 1);
    --foundation-primaryprimary-300: rgba(188, 209, 124, 1);
    --foundation-primaryprimary-400: rgba(175, 200, 99, 1);
    --foundationprimaryprimary-500: rgba(155, 186, 60, 1);
    --foundation-primaryprimary-600: rgba(141, 169, 55, 1);
    --foundation-primaryprimary-700: rgba(110, 132, 43, 1);
    --foundation-primaryprimary-800: rgba(85, 102, 33, 1);
    --foundation-primaryprimary-900: rgba(65, 78, 25, 1);
    --foundation-tealteal-50: rgba(230, 238, 237, 1);
    --foundation-tealteal-100: rgba(178, 202, 200, 1);
    --foundation-tealteal-200: rgba(141, 177, 174, 1);
    --foundation-tealteal-300: rgba(89, 141, 136, 1);
    --foundation-tealteal-400: rgba(57, 119, 113, 1);
    --foundation-tealteal-500: rgba(7, 85, 78, 1);
    --foundation-tealteal-600: rgba(6, 77, 71, 1);
    --foundation-tealteal-700: rgba(5, 60, 55, 1);
    --foundation-tealteal-800: rgba(4, 47, 43, 1);
    --foundation-tealteal-900: rgba(3, 36, 33, 1);
    --white: rgba(255, 255, 255, 1);
    --sub-header-font-family: "Nunito-Bold", Helvetica;
    --sub-header-font-weight: 700;
    --sub-header-font-size: 21.329999923706055px;
    --sub-header-letter-spacing: -0.21329999923706056px;
    --sub-header-line-height: 28px;
    --sub-header-font-style: normal;
    --hero-text-font-family: "PlaypenSans-ExtraBold", Helvetica;
    --hero-text-font-weight: 800;
    --hero-text-font-size: 89.76000213623047px;
    --hero-text-letter-spacing: 1.7952000427246093px;
    --hero-text-line-height: 121.00000381469727%;
    --hero-text-font-style: normal;
    --header-h1-font-family: "Nunito-Bold", Helvetica;
    --header-h1-font-weight: 700;
    --header-h1-font-size: 67.33999633789062px;
    --header-h1-letter-spacing: -2.020199890136719px;
    --header-h1-line-height: 73px;
    --header-h1-font-style: normal;
    --header-h2-font-family: "Nunito-Bold", Helvetica;
    --header-h2-font-weight: 700;
    --header-h2-font-size: 50.52000045776367px;
    --header-h2-letter-spacing: -0.5052000045776367px;
    --header-h2-line-height: 56px;
    --header-h2-font-style: normal;
    --header-h3-font-family: "Nunito-Bold", Helvetica;
    --header-h3-font-weight: 700;
    --header-h3-font-size: 37.900001525878906px;
    --header-h3-letter-spacing: -0.37900001525878907px;
    --header-h3-line-height: 46px;
    --header-h3-font-style: normal;
    --body-bold-font-family: "Nunito-Bold", Helvetica;
    --body-bold-font-weight: 700;
    --body-bold-font-size: 16px;
    --body-bold-letter-spacing: -0.48px;
    --body-bold-line-height: 22px;
    --body-bold-font-style: normal;
    --body-regular-font-family: "Nunito-Regular", Helvetica;
    --body-regular-font-weight: 400;
    --body-regular-font-size: 16px;
    --body-regular-letter-spacing: -0.48px;
    --body-regular-line-height: 22px;
    --body-regular-font-style: normal;
    --collection-1-black-white-white: rgba(255, 255, 255, 1);
    --collection-1-black-white-black: rgba(0, 0, 0, 1);
}
