:root {
  --white: rgba(255, 255, 255, 1);
  --sub-header-font-family: "Nunito-Bold", Helvetica;
  --sub-header-font-weight: 700;
  --sub-header-font-size: 21.329999923706055px;
  --sub-header-letter-spacing: -0.21329999923706056px;
  --sub-header-line-height: 28px;
  --sub-header-font-style: normal;
  --hero-text-font-family: "PlaypenSans-ExtraBold", Helvetica;
  --hero-text-font-weight: 800;
  --hero-text-font-size: 89.76000213623047px;
  --hero-text-letter-spacing: 1.7952000427246093px;
  --hero-text-line-height: 121.00000381469727%;
  --hero-text-font-style: normal;
  --header-h1-font-family: "Nunito-Bold", Helvetica;
  --header-h1-font-weight: 700;
  --header-h1-font-size: 67.33999633789062px;
  --header-h1-letter-spacing: -0.6733999633789063px;
  --header-h1-line-height: 73px;
  --header-h1-font-style: normal;
  --header-h2-font-family: "Nunito-Bold", Helvetica;
  --header-h2-font-weight: 700;
  --header-h2-font-size: 50.52000045776367px;
  --header-h2-letter-spacing: -0.5052000045776367px;
  --header-h2-line-height: 56px;
  --header-h2-font-style: normal;
  --header-h3-font-family: "Nunito-Bold", Helvetica;
  --header-h3-font-weight: 700;
  --header-h3-font-size: 37.900001525878906px;
  --header-h3-letter-spacing: -0.37900001525878907px;
  --header-h3-line-height: 46px;
  --header-h3-font-style: normal;
  --body-bold-font-family: "Nunito-Bold", Helvetica;
  --body-bold-font-weight: 700;
  --body-bold-font-size: 16px;
  --body-bold-letter-spacing: -0.16px;
  --body-bold-line-height: 22px;
  --body-bold-font-style: normal;
  --body-regular-font-family: "Nunito-Medium", Helvetica;
  --body-regular-font-weight: 500;
  --body-regular-font-size: 16px;
  --body-regular-letter-spacing: 0px;
  --body-regular-line-height: 22px;
  --body-regular-font-style: normal;
  --primitives-spacing-0: 0px;
  --primitives-spacing-1: 4px;
  --primitives-spacing-2: 8px;
  --primitives-spacing-3: 12px;
  --primitives-spacing-4: 16px;
  --primitives-spacing-5: 20px;
  --primitives-spacing-6: 24px;
  --primitives-spacing-7: 28px;
  --primitives-spacing-8: 32px;
  --primitives-spacing-9: 36px;
  --primitives-spacing-10: 40px;
  --primitives-color-neutral-50: rgba(253, 253, 252, 1);
  --primitives-color-neutral-100: rgba(249, 249, 247, 1);
  --primitives-color-neutral-200: rgba(241, 240, 239, 1);
  --primitives-color-neutral-300: rgba(233, 232, 230, 1);
  --primitives-color-neutral-400: rgba(226, 225, 222, 1);
  --primitives-color-neutral-500: rgba(218, 217, 214, 1);
  --primitives-color-neutral-600: rgba(207, 206, 202, 1);
  --primitives-color-neutral-700: rgba(188, 187, 181, 1);
  --primitives-color-neutral-800: rgba(141, 141, 134, 1);
  --primitives-color-neutral-900: rgba(130, 130, 124, 1);
  --primitives-color-neutral-1000: rgba(99, 99, 94, 1);
  --primitives-color-neutral-1100: rgba(51, 49, 43, 1);
  --primitives-color-b-w-white: rgba(255, 255, 255, 1);
  --primitives-color-b-w-black: rgba(0, 0, 0, 1);
  --primitives-color-brand-primary-green: rgba(155, 186, 60, 1);
  --primitives-color-brand-primary-softgreen: rgba(211, 225, 115, 1);
  --primitives-color-brand-primary-teal: rgba(7, 85, 78, 1);
  --primitives-color-brand-primary-cream: rgba(255, 248, 239, 1);
  --primitives-color-brand-secondary-brown: rgba(132, 71, 11, 1);
  --primitives-color-brand-secondary-orange: rgba(247, 127, 38, 1);
  --primitives-color-brand-secondary-beige: rgba(227, 179, 118, 1);
  --primitives-color-brand-secondary-soft-beige: rgba(239, 225, 202, 1);
  --primitives-color-brand-secondary-baby-blue: rgba(140, 212, 242, 1);
  --tokens-surface-surface-primary: var(--primitives-color-brand-primary-cream);
  --tokens-surface-surface-secondary: var(--primitives-color-brand-secondary-soft-beige);
  --tokens-surface-surface-brand: var(--primitives-color-brand-primary-green);
  --tokens-surface-surface-invert: var(--primitives-color-brand-primary-teal);
  --tokens-surface-surface-white: var(--primitives-color-b-w-white);
  --tokens-text-text-primary: var(--primitives-color-b-w-black);
  --tokens-text-text-secondary: var(--primitives-color-neutral-1100);
  --tokens-text-text-tertiary: var(--primitives-color-neutral-800);
  --tokens-text-text-brand: var(--primitives-color-brand-primary-green);
  --tokens-text-text-invert: var(--primitives-color-neutral-50);
  --tokens-text-text-brand-light: var(--primitives-color-brand-primary-softgreen);
  --tokens-border-border-primary: var(--primitives-color-neutral-1000);
  --tokens-border-border-secondary: var(--primitives-color-neutral-900);
  --tokens-border-border-invert: var(--primitives-color-neutral-600);
  --tokens-border-border-brand: var(--primitives-color-brand-primary-green);
  --tokens-icon-icon-primary: var(--primitives-color-b-w-black);
  --tokens-icon-icon-invert: var(--primitives-color-neutral-800);
  --tokens-icon-icon-positive: var(--primitives-color-brand-primary-green);
  --tokens-icon-icon-brand: var(--primitives-color-brand-primary-softgreen);
}
