
/* Navbar */
.program-wrapper .overlap-group-wrapper {
  position: fixed;
  width: 1440px;
  height: 116px;
  top: 0;
  left: 0;
}

.program-wrapper .overlap-group {
  position: relative;
  width: 1374px;
  height: 89px;
  top: 27px;
  left: 33px;
  background-image: url(/home-page-2/img/union-shape-1.svg);
  background-size: 100% 100%;
}

.program-wrapper .content {
  display: flex;
  width: 1181px;
  height: 72px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 2px;
  left: 98px;
}

.program-wrapper .div-2-chichbong {
  display: flex;
  width: 370px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.program-wrapper .ghost-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: var(--primitives-spacing-3) var(--primitives-spacing-5) var(--primitives-spacing-3)
    var(--primitives-spacing-5);
  position: relative;
  flex: 0 0 auto;
  border-radius: var(--primitives-spacing-3);
}

.program-wrapper .th-ng-tin {
  position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Nunito", Helvetica;
    font-weight: 700;
    color: var(--tokens-text-text-primary);
    font-size: 18px;
    text-align: center;
    letter-spacing: -0.18px;
    line-height: 20px;
    white-space: nowrap;
}

.program-wrapper .th-ng-tin-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Nunito", Helvetica;
  font-weight: 700;
  color: var(--tokens-text-text-primary);
  font-size: 18px;
  text-align: center;
  letter-spacing: -0.18px;
  line-height: 20px;
  white-space: nowrap;
}
.program-wrapper .content-3 {
  display: flex;
  width: 1181px;
  height: 72px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 2px;
  left: 98px;
}

.program-wrapper .div-nav {
  position: fixed;
  width: 1440px;
  height: 116px;
  top: -2px;
  left: 0;
}

.program-wrapper .content-wrapper {
  position: relative;
  width: 1374px;
  height: 89px;
  top: 27px;
  left: 33px;
  background-size: 100% 100%;
}

.logo-2{
  position: relative;
  width: 117px;
  height: 53px;
  object-fit: cover;
}
/* End navbar */

.program-wrapper{
  background-color: #fff8ef;
  width: 100%;
  overflow-x: hidden;
}

.program-wrapper__banner{
  height: 674px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--tokens-surface-surface-secondary);
  position: relative;
}

.program-wrapper__banner-title {
  font-family: var(--header-h1-font-family);
  font-weight: var(--header-h1-font-weight);
  color: var(--primitives-color-brand-secondary-brown);
  font-size: var(--header-h1-font-size);
  text-align: center;
  letter-spacing: var(--header-h1-letter-spacing);
  line-height: var(--header-h1-line-height);
  font-style: var(--header-h1-font-style);
  margin-top: 200px;
}

.program-wrapper__banner-description{
  font-family: var(--sub-header-font-family);
  font-weight: var(--sub-header-font-weight);
  color: var(--tokens-text-text-primary);
  font-size: var(--sub-header-font-size);
  text-align: center;
  letter-spacing: var(--sub-header-letter-spacing);
  line-height: var(--sub-header-line-height);
  font-style: var(--sub-header-font-style);
}

.program-wrapper__class {
  position: absolute;
  height: 443px;
  top: 500px;
  left: 15%;
  right: 50%;
  margin: 0 auto;
}

.program-wrapper__class-b-cu{
  position: absolute;
  width: 340px;
  height: 400px;
  top: 22px;
  left: 739px;
  border-radius: 16px;
  border: 1px solid;
  border-color: var(--tokens-border-border-primary);
  transform: rotate(8deg);
  background-image: url(./img/div-program-b-c-u.svg);
  background-size: cover;
  background-position: 50% 50%;
  background-color: var(--tokens-surface-surface-white);
  display: flex;
  align-items: end;
  justify-content: center;
}

.program-wrapper__class-title {
  font-family: var(--sub-header-font-family);
  font-weight: var(--sub-header-font-weight);
  color: var(--tokens-text-text-primary);
  font-size: var(--sub-header-font-size);
  text-align: center;
  letter-spacing: var(--sub-header-letter-spacing);
  line-height: var(--sub-header-line-height);
  font-style: var(--sub-header-font-style);
  padding-bottom: 20px;
}

.program-wrapper__class-s-nu{
  position: absolute;
  width: 340px;
  height: 400px;
  top: 0;
  left: 383px;
  border-radius: 16px;
  border: 1px solid;
  border-color: var(--tokens-border-border-primary);
  background-image: url(./img/div-program-s-n-u.svg);
  background-size: cover;
  background-position: 50% 50%;
  background-color: var(--tokens-surface-surface-white);
  display: flex;
  align-items: end;
  justify-content: center;
}

.program-wrapper__class-chch-bng{
  position: absolute;
  width: 340px;
  height: 400px;
  top: 22px;
  left: 26px;
  border-radius: 16px;
  border: 1px solid;
  border-color: var(--tokens-text-text-primary);
  transform: rotate(-8deg);
  background: linear-gradient(180deg, rgb(155, 186, 60) 0%, rgb(228.44, 221.36, 51.4) 100%);
  background-color: var(--tokens-surface-surface-primary);
}

.chichbong-title{
  width: fit-content;
  margin-top: -1px;
  margin-right: -2px;
  font-family: var(--header-h3-font-family);
  font-weight: var(--header-h3-font-weight);
  color: var(--tokens-text-text-primary);
  font-size: var(--header-h3-font-size);
  letter-spacing: var(--header-h3-letter-spacing);
  line-height: var(--header-h3-line-height);
  white-space: nowrap;
  font-style: var(--header-h3-font-style);
}

.chichbong-description {
  position: relative;
  align-self: stretch;
  font-family: "Nunito", Helvetica;
  font-weight: 500;
  color: var(--tokens-text-text-secondary);
  font-size: 14px;
  letter-spacing: -0.42px;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
}

.chichbong-old{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.chichbong-old > span{
  font-family: var(--body-bold-font-family);
  font-weight: var(--body-bold-font-weight);
  color: #33312b;
  font-size: var(--body-bold-font-size);
  letter-spacing: var(--body-bold-letter-spacing);
  line-height: var(--body-bold-line-height);
  font-style: var(--body-bold-font-style);
}

.program-wrapper__class-content-chichbong{
  display: flex;
  flex-direction: column;
  width: 336px;
  height: 397px;
  align-items: flex-start;
  gap: var(--primitives-spacing-5);
  padding: 46px 33px;
  position: relative;
  left: 2px;
}

.program-wrapper__content{
  margin-top: 400px;
  padding: 0px 200px;
}

.sidebar-title{
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--header-h3-font-family);
  font-weight: var(--header-h3-font-weight);
  color: var(--primitives-color-brand-primary-green);
  font-size: var(--header-h3-font-size);
  letter-spacing: var(--header-h3-letter-spacing);
  line-height: var(--header-h3-line-height);
  font-style: var(--header-h3-font-style);
}

.sidebar-wrapper{
  display: flex;
  flex-direction: column;
  width: 296px;
  align-items: flex-start;
  gap: var(--primitives-spacing-1);
  padding: var(--primitives-spacing-6) var(--primitives-spacing-5) var(--primitives-spacing-10)
    var(--primitives-spacing-5);
  position: relative;
  flex: 0 0 auto;
  background-color: var(--tokens-surface-surface-white);
  border-radius: 16px;
  border: 1px solid;
  border-color: var(--tokens-border-border-secondary);
}

.sidebar-item__group{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: var(--primitives-spacing-3) var(--primitives-spacing-5) var(--primitives-spacing-3)
    var(--primitives-spacing-5);
  position: relative;
  flex: 0 0 auto;
  border-radius: var(--primitives-spacing-3);
}

.sidebar-item__label{
    margin-top: -1px;
    font-family: "Nunito", Helvetica;
    font-weight: 700;
    color: var(--tokens-text-text-primary);
    font-size: 18px;
    text-align: center;
    letter-spacing: -0.18px;
    line-height: 20px;
    white-space: nowrap;
}

.content-right__container{
  gap: var(--primitives-spacing-10);
  padding: var(--primitives-spacing-10);
  background-color: var(--tokens-surface-surface-white);
  border-radius: var(--primitives-spacing-4);
  border: 1px solid;
  border-color: var(--tokens-border-border-secondary);
  margin-top: 45px;
}

.content-right__library-title{
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--header-h3-font-family);
  font-weight: var(--header-h3-font-weight);
  color: #000000;
  font-size: var(--header-h3-font-size);
  letter-spacing: var(--header-h3-letter-spacing);
  line-height: var(--header-h3-line-height);
  font-style: var(--header-h3-font-style);
}

.content-right__library-flexcontent{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-top: 10px;
}


.flexcontent-group{
  display: flex;
  width: 370px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.flexcontent-group span{
  font-family: var(--body-bold-font-family);
  font-weight: var(--body-bold-font-weight);
  color: #33312b;
  font-size: var(--body-bold-font-size);
  letter-spacing: var(--body-bold-letter-spacing);
  line-height: var(--body-bold-line-height);
  font-style: var(--body-bold-font-style);
}

.content-right__carousel{
  position: relative;
  height: 553px;
}

.content-right__carousel-group .rectangle {
  width: 500px;
  height: 420px;
  top: 0;
  left: 1px;
  object-fit: cover;
}

.content-right__carousel-group .img {
  width: 117px;
  height: 117px;
  object-fit: cover;
}

.content-right__carousel-group .rectangle-mini {
  width: 117px;
  height: 117px;
  padding: 5px;
  object-fit: cover;
}

.div-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.div-wrapper .div-5{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--primitives-spacing-7);
  padding: 0px var(--primitives-spacing-4) 0px var(--primitives-spacing-8);
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.text-wrapper-6 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--header-h3-font-family);
  font-weight: var(--header-h3-font-weight);
  color: #000000;
  font-size: var(--header-h3-font-size);
  letter-spacing: var(--header-h3-letter-spacing);
  line-height: var(--header-h3-line-height);
  font-style: var(--header-h3-font-style);
}

.div-2-chichbong-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.rectangle-6 {
  height: 380px;
  object-fit: cover;
  position: relative;
  width: 570px;
}

.rectangle-7 {
  height: 420px;
  position: relative;
  width: 570px;
}

.div-footer {
  background-color: var(--primitives-color-brand-primary-teal);
  margin-top: 10px;
}

.div-logo-address {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 142px;
  overflow: hidden;
}
